@{
    ViewBag.Title = "Home Page";
}

<h1>Recent Updates to Wikipedia</h1>

<table style="width: 100%">
    <tr><th>Change Type</th><th>Page Title</th><th>User</th></tr>
    @foreach (var change in ViewBag.Data.Query.RecentChanges)
    {
        <tr><td>@change.Type</td><td>@change.Title</td><td>@change.User</td></tr>
    }
</table>